/*
    File: index.css
    Jason Downing
    Contact: jason@downing.io
    MIT Licensed - see http://opensource.org/licenses/MIT for details.
    Anyone may freely use this code. Just don't sue me if it breaks stuff.
    Created: September 3rd, 2015.
    Last Updated: Feb 18th, 2021.

    This file contains CSS classes / IDs used to override the Creative Bootstrap Theme
*/

/* For the new header, all text shall be black around the intro section 
   Will hopefully be easier to read.
*/
.text-black {
  color: black;
}

.text-small {
  font-size: 100%;
}

.text-italic {
  font-style: italic;
}

/* Changing the Navbar text color to be darker - easier to read on a light background header image. */

/* Making the "text-muted" class smaller, seems a bit too large. */
.text-muted {
  font-size: 97%;
}

/* Removing the bottom margin in the Languages and Skills area */
#about > div > div:nth-child(2) > div:nth-child(3) > p.text-faded.no-margin {
    margin-bottom: 0;
}
#about > div > div:nth-child(2) > div:nth-child(4) > p.text-faded.no-margin {
  margin-bottom: 0;
}

/*  For the GitHub Section link
    These styles make the GitHub Section header appear white all the time,
    unless hovered on, in which case they turn blue. I like this style better.

    I also decided to use borders instead of underlines since the J in Jason gets cut
    off by an underline, but not by a border (which looks exactly like an underline only
    I can control it better). This resulted in a MUCH nicer looking underline!
    I used this link from Stackoverflow for this:
    https://stackoverflow.com/questions/9586596/control-underline-position-on-text-decoration-underline

    These links were also helpful:
    https://www.w3schools.com/css/css_link.asp
    https://www.w3schools.com/css/tryit.asp?filename=trycss_link2
*/
.text-blue {
  color: blue;
  border-bottom: 1px solid currentColor;
}
  /* 6/15/2018: Renamed because Bootstrap's CSS ALSO has a text-white class,
                and my own text-white class was adding a border on the H2 'Education'
                header text. */
.text-white-link {
  color: white;
  border-bottom: 1px solid currentColor;
}

/* Link color when it is unvisited */
a.text-blue:link  {
  color: blue;
  border-bottom: 1px solid currentColor;
}
a.text-white-link:link  {
  color: white;
  border-bottom: 1px solid currentColor;
}

/* Link color after being clicked on and visited */
a.text-blue:visited {
  color: blue;
  border-bottom: 1px solid currentColor;
}
a.text-white-link:visited {
  color: white;
  border-bottom: 1px solid currentColor;
}

/* Link color while being hovered on */
a.text-blue:hover {
  color: blue;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}
a.text-white-link:hover {
  color: blue;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

/* Link color the moment it is clicked */
a.text-blue:active {
  color: blue;
  border-bottom: 1px solid currentColor;
}
a.text-white-link:active {
  color: white;
  border-bottom: 1px solid currentColor;
}

.min-padding {
  padding-top: 2em;
  padding-bottom: 2em;
}

.min-padding-top {
  padding-top: 2em;
  padding-bottom: 0em;
}

/*
    This class is a fix for a bug I noticed on certain screen resolutions.
    When the width was between ~768px and ~991px (small devices) I noticed that
    the 2x2 rows were not looking right - the first row of 2 squares looked fine
    but the the next row was all messed up, one square was higher than the other.

    It turns out if 2 or 3 squares share the same height but one square doesn't,
    then the alignment is thrown off on the grid.

    This small padding increase fixes the issue by making all 4 squares the same
    height.
*/
.div-padding-fix {
  padding-bottom: 2em;
}

/* Adding some background color options */
.bg-green {
  /* Spotify Green - hex code from: https://brandpalettes.com/spotify-color-codes/ */
  background-color: #1DB954 !important;
}

.bg-dandelion {
  background-color: #f0e130 !important;
}

/* Black button to go with the Spotify Green. The active/focus/etc stuff is for when you
   hover / click on the button. */
.btn-black {
  color: #fff;
  background-color: #000000 !important;
}
.btn-black:active, .btn-black:focus, .btn-black:hover {
  color: #fff;
  background-color: #262626 !important;
}
.btn-black:active, .btn-black:focus {
  box-shadow:0 0 0 .2rem rgba(240,95,64,.5)!important;
}

/* Black hrefs & hrs too */
.href-black {
  color: #000000;
}
hr.black {
  border-color: #000000;
  color: #000000;
}

/*  Vertically center the images on the "Fun Stuff" section
    https://stackoverflow.com/a/37163431
*/
.images-vcenter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/*  Add border to the images on the "Fun Stuff" section 
    https://www.w3schools.com/csS/css3_images.asp
*/
.images-border {
  border: .5em solid #000000;
  border-radius: 3em;
}

.images-border-skiing {
  border: .5em solid #000000;
  border-radius: 50%;
}

/* 
    https://stackoverflow.com/a/2711996 
*/
.images-size-mtb {
  width: 70%;
  height: auto;
}

.images-size-skiing {
  width: 90%;
  height: auto;
}

/* Rtn Red Color */
.RtnRed {
  color: #E61231 !important;
  font-weight: bold;
}

.scrolling-wrapper {
  /*overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;*/
  /*background-color: #0E1318;*/
  width: 600px;
  height: 170px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 0 0px;

  /*padding: 20px 20px;*/
  padding-right: 0;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /*border-radius: 10px;*/

  grid-auto-flow: column;
  grid-template-columns: auto;

}


.card {
    /*display: inline-block;*/
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #1db954;
    padding: 0 10px;
    height: 100px;
    width:200px;
    /*border-radius: 5px;*/
    font-size: 25px;
    text-align: center;
    border: none;

}

.empty {
    width: 5px;
}

.designation {
  font-size: 15px;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/*Formspree*/

/*#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}*/

/* border, padding, margin, width */
/*#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}*/

/*#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}*/

/* address, locale */
/*#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}*/