@media only screen and (min-width: 768px) {
  /*.homepage-main-container .top-banner {
    padding: 154px 0 68px 0; }
    .homepage-main-container .top-banner .carousel-inner .carousel-item .image-container {
      height: 56.25rem; }
    .homepage-main-container .top-banner .text-wrapper {
      padding: 0 5.2rem;
      margin-top: 30px; }
      .homepage-main-container .top-banner .text-wrapper .title {
        font-size: 3.9rem; }
      .homepage-main-container .top-banner .text-wrapper .desc {
        font-size: 1.8rem; }
      .homepage-main-container .top-banner .text-wrapper .view-button-wrapper .view-button {
        font-size: 2rem;
        padding: 18px 30px; }
        .homepage-main-container .top-banner .text-wrapper .view-button-wrapper .view-button::after {
          width: 8px;
          height: 15px;
          margin-left: 20px; }*/
  /*.homepage-main-container .tile-scroll-component .fixed-content {
    padding: 7.8rem 5.2rem 19.5rem 5.2rem; }
    .homepage-main-container .tile-scroll-component .fixed-content .fixed-title {
      font-size: 3.9rem; }
    .homepage-main-container .tile-scroll-component .fixed-content .fixed-desc {
      font-size: 1.8rem; }
  .homepage-main-container .tile-scroll-component .scrollable-container .tile-item {
    padding: 7.8rem 6.5rem;
    text-align: left;
    border-right: 1px solid rgba(52, 146, 146, 0.3);
    border-bottom: 0; }
    .homepage-main-container .tile-scroll-component .scrollable-container .tile-item .tile-details .count {
      font-size: 2.1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #000000; }
    .homepage-main-container .tile-scroll-component .scrollable-container .tile-item .tile-details .tile-title {
      font-size: 2.1rem; }
    .homepage-main-container .tile-scroll-component .scrollable-container .tile-item .tile-image {
      margin-top: 17rem; }
      .homepage-main-container .tile-scroll-component .scrollable-container .tile-item .tile-image img {
        width: 22rem;
        height: 24.7rem; }*/
  /*.homepage-main-container .interactive-carousel .carousel .carousel-inner .carousel-item {
    padding: 4rem 5.2rem 17.2rem 5.2rem; }
    .homepage-main-container .interactive-carousel .carousel .carousel-inner .carousel-item .item-content .item-index {
      font-size: 3.9rem;
      padding: 5px 0;
      border-bottom: 5px solid #ffffff; }
    .homepage-main-container .interactive-carousel .carousel .carousel-inner .carousel-item .item-content .item-title {
      font-size: 3.9rem;
      margin-top: 2.7rem; }
    .homepage-main-container .interactive-carousel .carousel .carousel-inner .carousel-item .item-content .item-sub-title {
      font-size: 1.8rem; }
    .homepage-main-container .interactive-carousel .carousel .carousel-inner .carousel-item .item-content .pointers .pointer-detail {
      font-size: 1.8rem;
      padding-left: 4.94792rem; }
      .homepage-main-container .interactive-carousel .carousel .carousel-inner .carousel-item .item-content .pointers .pointer-detail::before {
        height: 0.5rem;
        width: 2.6rem;
        margin-top: 1.5625rem;
        margin-left: -4.94792rem; }
  .homepage-main-container .interactive-carousel .carousel .carousel-indicators {
    margin: 0 5.2rem 5rem 5.2rem; }
    .homepage-main-container .interactive-carousel .carousel .carousel-indicators .indicator {
      font-size: 1.8rem;
      visibility: visible; }
      .homepage-main-container .interactive-carousel .carousel .carousel-indicators .indicator::before {
        right: -11.8rem; }*/
  .homepage-main-container .cta-scroll-logos .cta-scroll-logos-container {
    padding: 5.2rem 40px; }
    .homepage-main-container .cta-scroll-logos .cta-scroll-logos-container .cta-content {
      padding: 0 5.2rem; }
      .homepage-main-container .cta-scroll-logos .cta-scroll-logos-container .cta-content .title {
        font-size: 3.9rem; }
      .homepage-main-container .cta-scroll-logos .cta-scroll-logos-container .cta-content .desc {
        font-size: 1.8rem; }
    .homepage-main-container .cta-scroll-logos .cta-scroll-logos-container .logo-container {
      margin-top: 3.9rem; }
    .homepage-main-container .cta-scroll-logos .cta-scroll-logos-container .learn-button-wrapper {
      padding: 4rem 5.2rem; }
      .homepage-main-container .cta-scroll-logos .cta-scroll-logos-container .learn-button-wrapper .learn-button {
        font-size: 2rem;
        padding: 2.3rem 3.9rem; }
        .homepage-main-container .cta-scroll-logos .cta-scroll-logos-container .learn-button-wrapper .learn-button::after {
          width: 1rem;
          height: 2rem;
          margin-left: 1.8rem; }
          
/*  .homepage-main-container .canvas-text-action {
    min-height: 60.5rem;
    padding-top: 6.5rem; }
    .homepage-main-container .canvas-text-action .carousel-inner .carousel-item .text-container {
      max-width: 44.4rem; }
      .homepage-main-container .canvas-text-action .carousel-inner .carousel-item .text-container .title {
        font-size: 3.9rem; }
      .homepage-main-container .canvas-text-action .carousel-inner .carousel-item .text-container .desc {
        font-size: 1.8rem; }
      .homepage-main-container .canvas-text-action .carousel-inner .carousel-item .text-container .meet-button-wrapper .meet-button {
        font-size: 2rem;
        padding: 2.3rem 3.9rem; }
        .homepage-main-container .canvas-text-action .carousel-inner .carousel-item .text-container .meet-button-wrapper .meet-button::after {
          width: 1rem;
          height: 2rem;
          margin-left: 15px; }*/

  /*.homepage-main-container .cta-video .cta-video-container {
    padding: 7.68rem 5.20833rem 9.4rem 5.20833rem; }
    .homepage-main-container .cta-video .cta-video-container .cta-wrapper {
      margin-top: 3.9rem;
      padding: 0 5.2rem; }
      .homepage-main-container .cta-video .cta-video-container .cta-wrapper .title {
        font-size: 3.9rem; }
      .homepage-main-container .cta-video .cta-video-container .cta-wrapper .sub-title {
        font-size: 1.8rem; }
      .homepage-main-container .cta-video .cta-video-container .cta-wrapper .choice-button-wrapper .choice-button {
        font-size: 2rem;
        padding: 2.3rem 3.9rem; }
        .homepage-main-container .cta-video .cta-video-container .cta-wrapper .choice-button-wrapper .choice-button::after {
          width: 1rem;
          height: 3rem;
          margin-left: 2.6rem; }
    .homepage-main-container .cta-video .cta-video-container .video-container {
      padding: 1.3rem 1.5rem 0 0; }
      .homepage-main-container .cta-video .cta-video-container .video-container::after {
        bottom: 1.3rem;
        left: 2.2rem; }
      .homepage-main-container .cta-video .cta-video-container .video-container .video-play {
        width: 7.68229rem;
        height: 7.68229rem; }
  .homepage-main-container .head_second_grid .Campus_Visit {
    padding: 7.8rem 5.2rem 5.2rem 5.2rem; }
    .homepage-main-container .head_second_grid .Campus_Visit .Campus_Title {
      font-size: 6.5rem; }
    .homepage-main-container .head_second_grid .Campus_Visit .Campus_Text {
      font-size: 1.8rem;
      max-width: 50%; }
    .homepage-main-container .head_second_grid .Campus_Visit .Campus_Button {
      font-size: 2rem;
      padding: 2.3rem 3.9rem; }
      .homepage-main-container .head_second_grid .Campus_Visit .Campus_Button::after {
        width: 1rem;
        height: 2rem;
        margin-left: 1.8rem; }*/
/*  .homepage-main-container .campus-carousel .carousel-item {
    height: 52.47396rem; }
  .homepage-main-container .campus-carousel-prev, .homepage-main-container .campus-carousel-next {
    top: calc(50% - 34.5px); }
    .homepage-main-container .campus-carousel-prev img, .homepage-main-container .campus-carousel-next img {
      height: 69px;
      width: 33px; }
  .homepage-main-container .campus-carousel-prev {
    left: 30px; }
  .homepage-main-container .campus-carousel-next {
    right: 30px; }*/
  /*.homepage-main-container .blog-tiles .blog-tiles-container {
    padding: 7.8rem 5.2rem; }
    .homepage-main-container .blog-tiles .blog-tiles-container .heading {
      padding: 0; }
      .homepage-main-container .blog-tiles .blog-tiles-container .heading .title {
        font-size: 5.6rem; }
      .homepage-main-container .blog-tiles .blog-tiles-container .heading .sub-title {
        font-size: 2.1rem; }
    .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper {
      margin: 0 -15px; }
      .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .sm-full-width {
        padding: 0 15px; }
      .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .single-tile .tile-item {
        padding: 6.5rem 7.2rem 13.9rem 7.2rem; }
        .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .single-tile .tile-item .tile-title {
          font-size: 2.6rem; }
        .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .single-tile .tile-item .tile-sub-title {
          font-size: 1.8rem;
          margin: 1.30208rem 0 3.90625rem 0; }
        .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .single-tile .tile-item .apply-button-wrapper .apply-button {
          font-size: 1.6rem;
          padding: 2rem 2.6rem; }
          .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .single-tile .tile-item .apply-button-wrapper .apply-button::after {
            width: 1rem;
            height: 2rem;
            margin-left: 3.3rem; }
      .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .double-tiles {
        margin-top: 5.3rem;
        flex-direction: row; }
        .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .double-tiles .tile-item {
          padding: 3.9rem 2.6rem 5.3rem 3.9rem;
          max-width: calc(50% - 2.6rem); }
          .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .double-tiles .tile-item:nth-child(1) {
            margin-right: 2.6rem; }
          .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .double-tiles .tile-item:nth-child(2) {
            margin-left: 2.6rem;
            margin-top: 0; }
          .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .double-tiles .tile-item .tile-title {
            font-size: 2.1rem; }
          .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .double-tiles .tile-item .tile-sub-title {
            font-size: 1.6rem;
            margin: 1.30208rem 0 3.90625rem 0; }
          .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .double-tiles .tile-item .apply-button-wrapper .apply-button {
            font-size: 1.4rem;
            padding: 1.4rem 2rem; }
            .homepage-main-container .blog-tiles .blog-tiles-container .tiles-wrapper .double-tiles .tile-item .apply-button-wrapper .apply-button::after {
              width: 0.8rem;
              height: 1.6rem;
              margin-left: 1.6rem; }
    .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper {
      margin: 0 -15px; }
      .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .sm-full-width {
        padding: 0 15px; }
      .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .two-blogs-container .blog-item .blog-content .blog-title,
      .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .three-blogs-container .blog-item .blog-content .blog-title {
        font-size: 2.3rem;
        margin-left: 0; }
      .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .two-blogs-container .blog-item .blog-content .blog-sub-title,
      .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .three-blogs-container .blog-item .blog-content .blog-sub-title {
        font-size: 1.8rem; }
      .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .two-blogs-container .blog-item .blog-content .blog-link,
      .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .three-blogs-container .blog-item .blog-content .blog-link {
        font-size: 2rem; }
        .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .two-blogs-container .blog-item .blog-content .blog-link::after,
        .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .three-blogs-container .blog-item .blog-content .blog-link::after {
          width: 1rem;
          height: 2rem;
          margin-left: 1.8rem; }
      .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .two-blogs-container .blog-item {
        margin-top: 5.2rem; }
        .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .two-blogs-container .blog-item .blog-icon {
          height: 27.3rem;
          width: 27.3rem; }
        .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .two-blogs-container .blog-item .blog-content {
          margin-left: 3.9rem;
          padding: 0 4.8rem 0 0; }
          .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .two-blogs-container .blog-item .blog-content .blog-sub-title {
            margin: 1.4rem 0 2rem 0; }
      .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .three-blogs-container {
        margin-top: 2.6rem; }
        .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .three-blogs-container .blog-item {
          margin-top: 2.6rem;
          padding: 0; }
          .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .three-blogs-container .blog-item .blog-icon {
            height: 18.5rem;
            width: 18.5rem; }
          .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .three-blogs-container .blog-item .blog-content {
            margin-left: 2.6rem;
            width: 100%;
            border-bottom: solid 1px #adadad; }
            .homepage-main-container .blog-tiles .blog-tiles-container .blogs-wrapper .three-blogs-container .blog-item .blog-content .blog-title {
              margin-bottom: 5rem; }
  .homepage-main-container .get-social .get-social-container {
    padding: 7.8rem 5.2rem; }
    .homepage-main-container .get-social .get-social-container .heading-wrapper .title {
      font-size: 6.5rem; }
    .homepage-main-container .get-social .get-social-container .heading-wrapper .desc {
      font-size: 2rem; }
    .homepage-main-container .get-social .get-social-container .content-wrapper {
      margin-top: 5.2rem; }
      .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper {
        margin: 0 -3.25rem; }
        .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper .item {
          height: 25.5rem;
          width: 25.5rem;
          margin: 3.25rem;
          padding: 3.3rem; }
          .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper .item .icon-container {
            justify-content: space-between;
            align-items: unset; }
            .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper .item .icon-container img {
              height: 5.5rem;
              width: 5.5rem; }
            .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper .item .icon-container .icon-name {
              font-size: 1.8rem;
              display: flex;
              position: unset; }
              .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper .item .icon-container .icon-name::after {
                display: none;
                position: unset; }
          .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper .item .item-details .count {
            font-size: 3rem;
            height: 2.60417rem; }
          .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper .item .item-details .sub-title {
            font-size: 1.6rem; }
          .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper .item .item-details .posts-wrapper .count::after {
            width: 2.7rem;
            min-height: 2.6rem;
            margin-left: 2.2rem; }
          .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper .item:hover .icon-container {
            height: auto; }
          .homepage-main-container .get-social .get-social-container .content-wrapper .left-col .socials-wrapper .item:hover .item-details {
            display: flex; }
      .homepage-main-container .get-social .get-social-container .content-wrapper .right-col {
        margin-top: 0; }
        .homepage-main-container .get-social .get-social-container .content-wrapper .right-col .tiles-container {
          margin: -1.9rem 0 0 -1.9rem; }
          .homepage-main-container .get-social .get-social-container .content-wrapper .right-col .tiles-container .tile-wrapper {
            margin: 1.9rem 0 0 1.9rem; }
            .homepage-main-container .get-social .get-social-container .content-wrapper .right-col .tiles-container .tile-wrapper .tile-image {
              height: 42.6rem;
              width: 42.6rem; }*/ }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    /*width: 100%;*/
    width: 150px;
    height: 150px; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }